// typography baselines
$base_font_size : 1.5rem;
$base_line_height: 2.2rem;

* {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: none;
  }
}

html {
  font-size: 62.5%; // sets root font size to 10px for easy maths
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: $base_font_size;
  line-height: $base_line_height;
}

.app {
  height: 100vh;
}

img {
  margin: 0;
  max-width: 100%;
}

::selection, ::-moz-selection {

}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}


// layout helpers

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  width: 100%;

  @include tablet {
    max-width: 94rem;
    margin: 0 auto;
  }
}

%panel, .panel {
  padding: 4rem 0;
}

.page {
  margin-top: -9rem;
  padding-top: 15rem;
  height: 50vh;
  border-top: 9rem solid $black;
}

.video_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;

  @include desktop {
    flex-direction: row;
  }
}

.video {
  order: 2;
  flex-grow: 1;
}

.video_caption {
  order: 2;
  flex-grow: 1;
  padding-top: 3rem;
  padding-left: 0;

  @include desktop {
    padding-top: 0;
    padding-left: 3rem;
  }
}

.flex {
  display: flex;
}

.bump-left {
  padding-left: 3rem;
}
