
%button {
  padding: 2rem 6rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

button {
  @extend %button;
}

.primary {
  @extend %button;
  background: $red;
  color: $white;
  font-weight: bold;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background: lighten($red, 5%);
  }
}
