h1 {
  font-size: 7.2rem;
  text-transform: uppercase;
}
h2 {
  font-size: 2.7rem;
  line-height: 3.3rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: $red;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
