<header class="global_header">
  <div class="wrapper flex global_header-wrap">
    <a href="/" class="logo">
      <img src="/assets/images/Logo.png" alt="" />
    </a>
    <a class="mobile_navigation" ng-click="toggleNav()">
      <span class="hamburger_row"></span>
      <span class="hamburger_row"></span>
      <span class="hamburger_row"></span>
    </a>
    <ul class="navigation_menu">
      <li class="navigation_menu-item" ng-repeat="navItem in navData.navItems">
        <a ng-click="subToggle()">{{ ::navItem.name }}</a>
        <ul class="sub_navigation menu">
          <li class="sub_navigation-item menu_item" ng-repeat="navChild in navItem.items">
            <a ng-href="{{ navChild.url }}">{{ ::navChild.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <nav role="primary">
    <ul class="mobile_navigation-menu menu">
      <li class="navigation_menu-item menu_item" ng-repeat="navItem in navData.navItems">
        <a ng-click="subToggle()">{{ ::navItem.name }}</a>
        <ul class="sub_navigation menu">
          <li class="sub_navigation-item menu_item" ng-repeat="navChild in navItem.items">
            <a ng-href="{{ navChild.url }}">{{ ::navChild.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
