<section class="feed_list">
  <div class="wrapper">
    <div class="feed_list-item news">
      <h3>In the news</h3>
      <ul>
        <li ng-repeat="story in footer.news.items">
          <h4>{{story.name}}</h4>
          <p><i class="calendar"></i>{{ story.date}}</p>
        </li>
      </ul>
    </div>

    <div class="feed_list-item events">
      <h3>Events Calendar</h3>
      <ul>
        <li ng-repeat="event in footer.events.items">
          <h4>{{ event.name }}</h4>
          <p><i class="calendar"></i>{{ event.date }}</p>
        </li>
      </ul>
    </div>

    <div class="feed_list-item featured">
      <h3>So Say We All</h3>
      <figure>
        <img ng-src="{{footer.featured.image}}" />
        <figcaption>
          <p>{{ footer.featured.name }}</p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
