<section class="page panel">
  <figure class="flex wrapper">
    <img ng-src="{{ member.image }}" />
    <figcaption class="bump-left">
      <h2>{{ member.name }}</h2>
      <p>{{ member.description }}
    </figcaption>
  </figure>
</section>
