
<primary-hero></primary-hero>

<section class="wrapper panel">
  <article class="video_panel">
    <figure class="video">
      <iframe src="https://player.vimeo.com/video/135126212?title=0&byline=0&portrait=0" width="458" height="286" frameborder="0"></iframe>
    </figure>
    <div class="video_caption">
      <header>
        <h2>Video: A Growing Number of Cylonsare Feeling Misunderstood</h2>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>
</section>

<section class="hero galactica">
</section>
