<figure class="hero intro">
  <figcaption class="hero_caption wrapper">
    <div class="social wrapper">
      <ul>
        <li class="social_icon">
          <a href="http://facebook.com" target="_blank"><svg href="/assets/images/facebook.svg"</a>
        </li>
        <li class="social_icon">
          <a href="http://twitter.com" target="_blank">t</a>
        </li>
        <li class="social_icon">
          <a href="http://pinterest.com" target="_blank">p</a>
        </li>
        <li class="social_icon">
          <a href="http://linkedin.com" target="_blank">li</a>
        </li>
      </ul>
    </div>
    
    <h1 class="hero_caption-title">The Last Supper</h1>
    <button class="primary">read more</button>
  </figcaption>
</figure>
