
.calendar {
  background: url('/assets/images/calendar.png');
  height: 1.6rem;
  width: 1.6rem;
  display: inline-block;
  margin: 0.15rem 1.2rem 0 0;
}

.feed_list {
  padding: 0;
  background: $alabaster;

  > .wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      padding-bottom: 10rem;
      flex-direction: row;
    }
  }
  @include tablet {
    padding-top: 4rem;
  }
}

.feed_list-item {
  padding: 2rem;
  border-top: 1px solid #cbc7c7;

  &:nth-child(1) {
    border-top: none;
  }

  @include tablet {
    padding: 0 2rem;
    border-top: none;
    border-left: 1px solid #cbc7c7;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 2.5rem;

      p {
        color: $gray;
      }
    }

  }

  &:nth-child(3) {
    border-left: none;
  }
}

.news {}
.events {}
.featured {}
