.global_header {
  background: $black;
  z-index: 5;

  @include desktop {
    background: rgba($black, 0.8);
  }
}

.global_header-wrap {
  background: rgba($black, 0.8);
  align-items: center;
  justify-content:space-between;
  max-height: 9rem;
  @include tablet {
    background: transparent;
  }
}

.logo {
  order: 1;
  display: inline-block;
  margin-top: 3.3rem;
  z-index: 3;
}

.mobile_navigation-menu {
  order: 2;
  display: inline-block;
  margin-right: 4rem;
  display: none;
  list-style: none;
  flex-direction: column;

  &.open {
    display: flex;
    position: absolute;
    z-index: 2;
    background: rgba($black, 0.8);
    width: 100%;
    padding-top: 3rem;
  }

  @include tablet {
    display: none;
  }
}

.navigation_menu {
  list-style: none;
  display: none;
  order: 2;
  align-self: flex-end;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-between;
    padding-left: 2rem;
  }
}

.navigation_menu-item {
  width: 100%;
  a {
    cursor: pointer;
    text-transform: uppercase;
    color: $red;
    display: inline-block;
    padding: 2rem;
  }

  @include tablet {
    width: auto;

    &:hover {
      .sub_navigation {
        display: block;
      }
    }
  }
}

.sub_navigation, .mobile_subnav-menu {
  display: none;

  &.open {
    padding-left: 2rem;
  }

  @include tablet {
    background: rgba($black, 0.7);
    border: 1px solid $black;
    width: 100%;
    display: none;
    list-style: none;
    position: absolute;
    top: 6rem;
  }
}
.sub_navigation-item > a, .mobile_subnav-item > a  {
  color: white;
  padding: 2rem;
  @include transition(color, 0.2s);

  &:hover {
    color: $red;
  }
}

.mobile_navigation {
  order: 2;
  margin-right: 2rem;

  @include tablet {
    display: none;
  }
}

.hamburger_row {
  height: 0.5rem;
  width: 4rem;
  margin-bottom: 0.5rem;
  background: $white;
  border-radius: 0.4rem;
  display: block;
}

// .global-header {
//   background: rgba($black, 0.8);
//
//   @include tablet {
//     position: absolute;
//     z-index: 2;
//     width: 100vw;
//     max-height: 9.5rem;
//   }
//
//   .wrapper {
//     display: flex;
//     align-items: center;
//     justify-content:space-between;
//
//     @include tablet {
//     }
//   }
// }
//
// .brand {
//
// }
//
// .primary_navigation {
//
// }
//
//
// .logo {
//   order: 1;
//   img {
//     margin-top: 1.6rem;
//   }
// }
//
// .mobile_navigation {
//   order: 2;
//   display: inline-block;
//   color: white;
//   justify-content: flex-end;
//   margin-right: 2rem;
//   width: 100%;
//
//   position: absolute;
//   top: 7rem;
//   z-index: 2;
//   background: rgba(0,0,0,0.8);
//
//   @include tablet {
//     display: none;
//   }
// }
//
// .hamburger_row {
//   height: 0.5rem;
//   width: 4rem;
//   margin-bottom: 0.5rem;
//   background: $white;
//   border-radius: 0.4rem;
//   display: block;
// }
//
// .navigation { // ul
//   margin-left: 2rem;
//   font-size: 1.4rem;
//   text-transform: uppercase;
//   font-weight: bold;
//   list-style: none;
//   color: $red;
//   display: none;
//
//   &.open {
//     display: flex;
//   }
//
//   @include tablet {
//     display: flex;
//   }
// }
// .navigation-item { // li
//   display: inline-block;
//   padding: 2rem;
//   cursor: pointer;
//
//   &:hover, > ul {
//     .sub_navigation {
//       display: block;
//     }
//   }
// }
// .sub_navigation { // ul > li > ul
//   background: rgba($black, 0.7);
//   border: 1px solid $black;
//   width: 100%;
//   display: none;
//   list-style: none;
//   position: absolute;
//   top: 6rem;
// }
// .sub_navigation-item {
//   padding: 1rem 2rem;
// }
//
// .sub_navigation-item > a { // ul > li > ul > li
//   color: white;
//   @include transition(color, 0.2s);
//
//   &:hover {
//     color: $red;
//   }
// }
