.hero {
  @extend %clearfix;
  display: flex;
  min-height: 20rem;

  @include tablet {
    min-height: 40rem;
  }
}

.intro {
  background-image: url('/assets/images/the-last-supper.jpg');
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: $black;
  @include desktop {
    background-position: 50% 0;
    min-height: 50rem;
    margin-top: -9rem;
  }
}

.galactica {
  background-image: url('/assets/images/galactica.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #040E1A;
}

.social {
  display: none;
  position: absolute;
  z-index: 2;
  top: 9.5rem;
  right: 0;
}

.social_icon {
  a {
    color: $white;
  }
}

.hero_image {
  display: block;
  margin: 0 auto;
}

.hero_caption {
  justify-content: center;
  align-self: flex-end;
  text-align: center;
  margin-bottom: 5rem;
}

.hero_caption-title {
  color: $white;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 3rem;

  @include desktop {
    font-size: 7.2rem;
  }
}
